@tailwind base;
@tailwind components;
@tailwind utilities;

/* import font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@layer base {
    body {
        @apply font-[Lato];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.nav-link {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease 0s;
}

.nav-link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #9381ff;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.project-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 225px;
    width: 500px;
}

.project-container:hover {
    background-image: radial-gradient(
        rgba(216, 208, 239, 1) 0%,
        rgba(147, 129, 255, 1) 100%
    );
}